RewriteEngine On     # Turn on the rewriting engine

RewriteRule     ^$ /index.php [QSA,L,NC]
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule . /generic/index.php [QSA]