<?php
    $aircrafts = isset($data['aircrafts']) ? $data['aircrafts'] : array();

    $flights = isset($data['flights']) ? $data['flights'] : array();



   function drawHourOptions() {

        $html = "";

        for($i = 0; $i <= 23; $i++) { $html .= "<option value='$i'>$i</option>"; }

        return $html;

   }

    function drawMinuteOptions() {

        $html = "";

        for($i = 10; $i <= 50; $i += 10) { $html .= "<option value='$i'>$i</option>"; }

        return $html;

    }
?>

<div id="div-flights">

    <h1>Flight Management</h1>

    <form id="form-add-flight" method="post" action="/flight/save">
        <input id="input-entity-id" type="hidden" name="entity-id" value="" />
        <h3>Flight Information</h3>
        <br />


        <lable for="input-destination">Aircraft:
            <select jq-validate id="select-aircraft" name="aircraft-id">
                <option value="">Select Aircraft</option>
                <?php

                    foreach($aircrafts as $item) {
                        echo('<option value="' . $item['entity_id'] . '">' .
                        $item['ac_type'] . '-' . $item['tail_number']);
                    }

                ?>
            </select>
        </lable>

        <lable for="input-origin">Origin:
            <input jq-validate id="input-origin" type="text" class="flight-location-input" name="origin-id" value="" />
        </lable>

        <lable for="input-destination">Destination:
            <input jq-validate id="input-destination" type="text" class="flight-location-input" name="destination-id" value="" />
        </lable>

        <br />

        <label for="input-departure-date">Depart:</label>
        <input jq-validate id="input-departure-date" type="text" name="departure-date"/>

        <select jq-validate class="select-hours" name="departure-hour">
            <option value="">Hour</option>
            <?php echo(drawHourOptions()); ?>
        </select>
        <span>:</span>
        <select jq-validate class="select-minute" name="departure-minute">
            <option value="">Minute</option>
            <option value="0">00</option>
            <?php echo(drawMinuteOptions()); ?>
        </select>

        <br />
        <label for="input-arrival-date">Arrive:</label>
        <input jq-validate id="input-arrival-date" type="text" name="arrival-date"/>

        <select jq-validate class="select-hours" name="arrival-hour">
            <option value="">Hour</option>
            <?php echo(drawHourOptions()); ?>
        </select>
        <span>:</span>
        <select jq-validate class="select-minute" name="arrival-minute">
            <option value="">Minute</option>
            <option value="0">00</option>
            <?php echo(drawMinuteOptions()); ?>
        </select>


        <button id="button-save" type="button" parent="form-add-flight" name="button-add-flight">Save</button>

    </form>

    <div id="div-recent-flights">

        <h3>Current Flights</h3>

        <?php

            echo(library\html::table(array('data' => $flights,
                                            'id_field' => 'entity_id',
                                            'id'=>'table-flight-schedule',
                                            'class'=>'table-record-list'), true ));

        ?>

    </div>
</div>

<script>

    /*
    departure and arrival date pickers.
     */
    $(function() {
        $( "#input-departure-date" ).datepicker();
    });


    $(function() {
        $( "#input-arrival-date" ).datepicker();
    });

    /*
    wire the on mouseup event to the destination and origin
    input boxes.
     */

    $("input.flight-location-input").autocomplete({
        source: function (request, response) {
            $.get("/airport/find", {
                query: request.term
            }, function (data) {

                response($.parseJSON(data));
            });
        },
        minLength: 3
    });

    $("input.flight-location-input").on('click', function(e){
        this.select();
    })

    /*
    wire the event handler for the save button.
     */
    $("button#button-save").on('click', function() {
        save.call(this);
    });

    /*
    wire the table body on click event.
     */
    $("table#table-flight-schedule").on("click", "tr", function(e){

        //display a dialog box that asks the user to delete the record.
        var r = confirm('Confirm Delete?');

        if(r == true) {

            var that = this;

            //ajax call to the delete hander.
            var id = $(this).attr('id').split('-')[1];

            if(!isNaN(id)) {

                //ajax settings object.
                var settings = {
                    type:"POST",
                    url: '/flight/delete',
                    data: 'entity_id=' + id,
                    dataType: 'json'
                };

                var callback = function(data){

                   if(data.statusCode == 200){
                       //remove the tr from the list.
                       $(that).remove();

                   } else {
                       //display error.
                   }
                };

                //console.log(settings);
                //post the data to the server.
                $.ajax(settings).done(callback);
            }


        } else {

        }
    });

</script>