<?php
    $aircrafts = isset($data['aircrafts']) ? $data['aircrafts'] : array();

    $flights = isset($data['flights']) ? $data['flights'] : array();



   function drawHourOptions() {

        $html = "";

        for($i = 0; $i <= 23; $i++) { $html .= "<option value='$i'>$i</option>"; }

        return $html;

   }

    function drawMinuteOptions() {

        $html = "";

        for($i = 10; $i <= 50; $i += 10) { $html .= "<option value='$i'>$i</option>"; }

        return $html;

    }
?>

<div id="div-flights">

    <h1>Flight Management</h1>

    <form id="form-add-flight" method="post" action="/flight/save">
        <input id="input-entity-id" type="hidden" name="entity-id" value="" />
        <h3>Flight Information</h3>
        <br />


        <lable for="input-destination">Aircraft:
            <select jq-validate id="select-aircraft" name="aircraft-id">
                <option value="">Select Aircraft</option>
                <?php

                    foreach($aircrafts as $item) {
                        echo('<option value="' . $item['entity_id'] . '">' .
                        $item['ac_type'] . '-' . $item['tail_number']);
                    }

                ?>
            </select>
        </lable>

        <lable for="input-origin">Origin:
            <input jq-validate id="input-origin" type="text" class="flight-location-input" name="origin-id" value="" />
        </lable>

        <lable for="input-destination">Destination:
            <input jq-validate id="input-destination" type="text" class="flight-location-input" name="destination-id" value="" />
        </lable>

        <br />

        <label for="input-departure-date">Depart:</label>
        <input jq-validate id="input-departure-date" type="text" name="departure-date"/>

        <select jq-validate class="select-hours" name="departure-hour">
            <option value="">Hour</option>
            <?php echo(drawHourOptions()); ?>
        </select>
        <span>:</span>
        <select jq-validate class="select-minute" name="departure-minute">
            <option value="">Minute</option>
            <option value="0">00</option>
            <?php echo(drawMinuteOptions()); ?>
        </select>

        <br />
        <label for="input-arrival-date">Arrive:</label>
        <input jq-validate id="input-arrival-date" type="text" name="arrival-date"/>

        <select jq-validate class="select-hours" name="arrival-hour">
            <option value="">Hour</option>
            <?php echo(drawHourOptions()); ?>
        </select>
        <span>:</span>
        <select jq-validate class="select-minute" name="arrival-minute">
            <option value="">Minute</option>
            <option value="0">00</option>
            <?php echo(drawMinuteOptions()); ?>
        </select>


        <button id="button-save" type="button" parent="form-add-flight" name="button-add-flight">Save</button>

    </form>

    <div id="div-recent-flights">

        <h3>Current Flights</h3>

        <?php

            echo(library\html::table(array('data' => $flights,
                                            'id_field' => 'entity_id',
                                            'id'=>'table-flight-schedule',
                                            'class'=>'table-flight-schedule'), true ));

        ?>

    </div>
</div>

<script>

    /*
    departure and arrival date pickers.
     */
    $(function() {
        $( "#input-departure-date" ).datepicker();
    });


    $(function() {
        $( "#input-arrival-date" ).datepicker();
    });

    /*
    wire the on mouseup event to the destination and origin
    input boxes.
     */

    $("input.flight-location-input").autocomplete({
        source: function (request, response) {
            $.get("/airport/find", {
                query: request.term
            }, function (data) {

                response($.parseJSON(data));
            });
        },
        minLength: 3
    });

    $("input.flight-location-input").on('click', function(e){
        this.select();
    })

    /*
    wire the event handler for the save button.
     */

    $("button#button-save").on('click', function() {

        //select the elements to validate.
        var fields = $("[jq-validate]");

        if(fields) {

            //set the valid flag.
            var valid = true;

            fields.each(function(index) {

                //if value is empty set an error class and flag to false.
                if(!$(this).val()){
                   $(this).addClass('error');
                    valid = false;

                } else {
                    $(this).removeClass('error');
                }

            });

            if(valid) {
                /*
                searlize the form data
                 */
                //get the parent attribute value of the button.

                var formId = $(this).attr('parent');

                //get the query string
                var query = $('form#' + formId).serialize();

                //ajax settings object.
                var settings = {
                    type:"POST",
                    url: $('#' + formId).attr('action'),
                    data: query,
                    dataType: 'json'
                };

                //console.log(settings);
                //post the data to the server.
                $.ajax(settings).done(function(data){

                    //var data = $.parseJson(data);

                    //check the status code. if 200 call the add table function.
                    if(data.statusCode && data.statusCode == 200) {

                        addRow(data.row);

                        //clear the form data.
                        

                    }else {
                        //else display an error message.
                        alert('Operation Failed - Try Again');
                    }
                });
            }
        }
    });

    /*
    wire the table body on click event.
     */
    $("table#table-flight-schedule").on("click", "tr", function(e){
        console.log(this);
    });


    /*
    push a new row object into the table.
     */
    function addRow(row) {
        //$('table#table-flight-schedule').append(buildTr(row));
        $('table#table-flight-schedule tr:first').after(buildTr(row));
    }

    function buildTr(obj) {
        var tr;

        tr = $('<tr/>').attr('id', ('entity_id-' +  obj['entity_id']));


        for(key in obj) {

            if(obj.hasOwnProperty(key)) {
                tr.append("<td>" + obj[key] + "</td>")
            }
        }
        return tr;
    }


</script>