<?php

    $shipments = isset($data['shipment']) ? $data['shipment'] : array();

    $orders = isset($data['orders']) ? $data['orders'] : array();

    $flights = isset($data['flights']) ? $data['flights'] : array();

?>
<div id="div-shipment">

    <h1>Shipments</h1>
    <h3>Shipped Orders</h3>
    <div class="div-table-container">
        <?php

        if(!empty($shipments)) {

            echo(library\html::table(array('data' => $shipments,
        'id_field' => 'entity_id',
        'id'=>'table-order-list',
        'class'=>'table-record-list'), true ));

        } else {
            echo("<h4>There are Currently No Shipments available to view <h4>");
        }

        ?>
    </div>


    <h3>Unshipped Orders</h3>
    <h4>Click on any displayed order to set up shipping</h4>
    <form id="form-save-shipment" method="post" action="shipment/save">

        <label for="select-order-id">OrderID:
            <select jq-validate id="select-order-id" name="order_id">
                <option value="">Select Order</option>
                <?php

                    if(!empty($orders)) {

                        $html = "";

                        foreach($orders as $row) {

                        echo("<option value='" . $row['ORDER_ID'] . "'>");
                            foreach($row as $key => $value) {
                                echo($key . ": " . $value . ", ");
                            }

                            echo("</option>");
                        }
                    } ?>
            </select>

        </label>


        <label for="select-flights">Upcoming Flights
            <select jq-validate id="select-flights" name="flight_id">
                <option value="">Select a Flight</option>

                <?php

                    if(!empty($flights)) {

                        $html = "";

                        foreach($flights as $row) {

                        echo("<option value='" . $row['entity_id'] . "'>");
                        foreach($row as $key => $value) {
                            echo($key . ": " . $value . ", ");
                        }

                        echo("</option>");

                        }

                    }

                ?>
            </select>
        </label>

        <button id="button-save"
                type="button"
                parent="form-save-shipment"
                name="button-save-shipment">Save Shipment</button>
    </form>
    <div class="div-table-container">

        <?php

        if(!empty($orders)) {

                echo(library\html::table(array('data' => $orders,
            'id_field' => 'ORDER_ID',
            'id'=>'table-order-list',
            'class'=>'table-record-list'), true ));
        } else {
            echo("<h4>There are Currently No Un-Shipped Orders</h4>");
        }
        ?>
    </div>
</div>

<script>

    $("button#button-save").on('click', function() {

        save.call(this);
    });

    $("table.table-record-list").on("click", "tr", function(e){

        var entity_id = $(this).attr('id').split('-')[1];

        //set the id as the value in the orders select.

        $('select#select-order-id').val(entity_id);
    });

</script>
